# FORMAS DE CONEXÃO

# Conexão com Windows Authentication
# CONNECTION_STRING=Server=D03S30-1313845\SQLEXPRESS;Database=GestaoPatrimonios;Trusted_Connection=True;TrustServerCertificate=True;

# Conexão com SQL Server Authentication (usuário e senha)
# CONNECTION_STRING=Server=D03S30-1313845\SQLEXPRESS;Database=GestaoPatrimonios;User Id=sa;Password=Senai@134;TrustServerCertificate=True;